{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">STUDENT</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ student.user.first_name }} {{ student.user.last_name }}</h1>
                <div class="flex mb-4">
                    <a href="{% url 'student:student-detail' student.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        Details
                    </a>
                    <a href="{% url 'student:student-update' student.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Edit
                    </a>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">PRN</span>
                    <span class="ml-auto text-gray-900">{{ student.user.username }}</span>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">Gender</span>
                    <span class="ml-auto text-gray-900">{{ student.gender }}</span>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">Date of birth</span>
                    <span class="ml-auto text-gray-900">{{ student.date_of_birth }}</span>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">Email</span>
                    <span class="ml-auto text-gray-900">{{ student.user.email }}</span>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">Phone Number</span>
                    <span class="ml-auto text-gray-900">{{ student.phone_number }}</span>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">Course</span>
                    <span class="ml-auto text-gray-900"> {{ student.course.name }}</span>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">Semester</span>
                    <span class="ml-auto text-gray-900"> {{ student.semester }}</span>
                </div>
                <div class="flex border-b border-gray-300 py-2">
                    <span class="text-gray-500">Current year</span>
                    <span class="ml-auto text-gray-900">{{ student.current_year }}</span>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock content %}