<nav class="bg-white shadow dark:bg-gray-800">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        <a href="{% url 'landing-page' %}" class="text-gray-800 transition-colors duration-200 transform dark:text-gray-200 mx-1.5 sm:mx-6">home</a>

        <!-- Academic Dropdown -->
        <div class="group inline-block">
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-800 transition-colors duration-200 transform dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6 hover:bg-gray-50 md:hover:bg-transparent md:border-0  md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                Academics
            </button>
            <ul class="bg-white border rounded-sm transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top min-w-32">
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">Academic Calendar</li>
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-800 transition-colors duration-200 transform dark:text-gray-200 border-b-2 border-blue-500 hover:bg-gray-50 md:hover:bg-transparent md:border-0  md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                        Timetable
                    </button>
                    <ul class="bg-white border rounded-sm absolute top-0 right-0 transition duration-150 ease-in-out origin-top-left min-w-32">
                        <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                            <a href="../static/uploads/timetable/First-Year-TT-Odd-Sem-2021-22-19th-Dec-2021.pdf">First Year</a>
                        </li>
                        <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                            <a href="../static/uploads/timetable/TIME-TABLE_ODD-SEM-21-22_V1.pdf">Second/Third/Final Year</a>
                        </li>
                    </ul>
                </li>
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-800 transition-colors duration-200 transform dark:text-gray-200 border-b-2 border-blue-500 hover:bg-gray-50 md:hover:bg-transparent md:border-0  md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                        Syllabus
                    </button>
                    <ul class="bg-white border rounded-sm absolute top-0 right-0 transition duration-150 ease-in-out origin-top-left min-w-32">
                        <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                            <a href="../static/uploads/syllabus/B.-Tech.-IT-Final-Year-Syllabus-wef-2020-21.pdf">Final Year</a>
                        </li>
                        <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                            <a href="../static/uploads/syllabus/BTechITSyllabusThirdYearVer1.1-1.pdf">Third Year</a>
                        </li>
                        <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                            <a href="../static/uploads/syllabus/SY-B.Tech_.-IT-Syllabus-wef-2021-22.pdf">Second Year</a>
                        </li>
                        <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">
                            <a href="../static/uploads/syllabus/First-Year-Effective-from-Academic-Year-2020-21-common-for-all-branches.pdf">First Year</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Activities Dropdown -->
        <div class="group inline-block">
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-800 transition-colors duration-200 transform dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6 hover:bg-gray-50 md:hover:bg-transparent md:border-0  md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                Activities
            </button>
            <ul class="bg-white border rounded-sm transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top min-w-32">
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">Placement Record</li>
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">Events</li>
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">FIT</li>
            </ul>
        </div>

        <!-- About Dropdown -->
        <div class="group inline-block">
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-800 transition-colors duration-200 transform dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6 hover:bg-gray-50 md:hover:bg-transparent md:border-0  md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                About
            </button>
            <ul class="bg-white border rounded-sm transform scale-0 group-hover:scale-100 absolute transition duration-150 ease-in-out origin-top min-w-32">
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">About Us</li>
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">HoD's Message</li>
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">PEOs</li>
                <li class="rounded-sm relative px-3 py-1 hover:bg-gray-100">POs and PSOs</li>
            </ul>
        </div>
        
        <style>
            li>ul                 { transform: translatex(100%) scale(0) }
            li:hover>ul           { transform: translatex(101%) scale(1) }
            li > button svg       { transform: rotate(-90deg) }
            li:hover > button svg { transform: rotate(-270deg) }
        
            .group:hover .group-hover\:scale-100 { transform: scale(1) }
            .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
            .scale-0 { transform: scale(0) }
            .min-w-32 { min-width: 8rem }
        </style>

        {% if  request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <a href="{% url 'students:student-list' %}" class="text-gray-800 transition-colors duration-200 transform dark:text-gray-200 mx-1.5 sm:mx-6">Students</a>
                {% endif %}
                {% if request.user.is_faculty or request.user.is_student %}
                    <a href="{% url 'classrooms:classroom-list' %}" class="text-gray-800 transition-colors duration-200 transform dark:text-gray-200 mx-1.5 sm:mx-6">Classrooms</a>
                {% endif %}
                <a href="{% url 'logout' %}" class="ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
                    Logout
                </a>
            {% else %}
            <a href="{% url 'login' %}" class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
                Login
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
            </a>
            {% endif %}
    </div>
</nav>